- content_for :extra_body_classes, 'about-page'

.col
  %h1 Our Mission

  %p Chicago Teen Museum is the first museum dedicated entirely to the preservation of teen culture by connecting youth expression to the museum profession.

  %h1 Our Vision

  %p Chicago Teen Museum is committed to serving as a consortium for all things teen-related within the Chicagoland community.

.col
  %h1 Our Goals

  %ul
    %li Empower teens to present a strong and positive image
    %li Enhance teen growth and development both artistically and professionally
    %li Foster a positive understanding of teen culture while cultivating a respect and understanding for museums
    %li Increase the public's understanding of "teen culture" through exhibits, programs, partnerships and research
    %li Provide opportunities for educators, parents, and teens to develop a greater sense of identity
    %li Enhance research of teen culture through study of and collaboration with teens