%h1= pluralize(@galleries.total_count, 'Gallery')

- if can?(:create, Gallery)
  = link_to 'Create Gallery', new_gallery_path, class: 'action'

%ul.thumbs
  - @galleries.each do |g|
    %li
      = link_to image_tag(g.thumb_url, class: 'thumb'), g
      .caption
        %h3= link_to g.title, g
