$white: #fff;
$lightest-grey: #f0f0f0;
$light-grey: #ccc;
$mid-grey: #999;
$dark-grey: #666;
$darkest-grey: #333;

$lightest-blue: #8EBCF1;
$light-blue: #4294F0;
$mid-blue: #076FE4;
$dark-blue: #1A4882;
$darkest-blue: $dark-blue;

$body-color: $dark-grey;
$body-shadow-color: $darkest-grey;
$background-color: $lightest-grey;
$shadow-color: $mid-grey;
$text-color: $darkest-grey;
$light-text-color: $dark-grey;
$action-color: $mid-blue;
