/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bourbon';
@import 'neat';
@import 'flutie';


$thumb-width: 300px;
$shadow-color: #bbb;


body {
  background: #eee;
}


header {
  @include clearfix();
  background: url(header_background.png);
  @include box-shadow(0 0 14px $shadow-color);
  padding: 0.25em;

  ul.navigation {
    float: left;
    margin: 0;

    li {
      display: inline-block;
      border-left: 1px solid $shadow-color;
      padding: 0 1em;

      vertical-align: middle;
      img { margin: 0; }

      h3 > a {
        color: #666;
        &:hover { color: #333; }
      }
    }

    li:first-child {
      border: 0;
    }

  }

  .auth {
    float: right;
    margin: 0.5em 1em 0 0;
  }
}


.content {
  padding: 2em 5% 2em 5%;
}


footer {
  padding: 1em;
}


ul.thumbs {
  list-style-type: none;
  margin: 0 auto;

  li {
    width: $thumb-width;
    margin-bottom: $gutter;
    background: white;
    @include box-shadow(0px 2px 6px $shadow-color);

    .caption {
      padding: 0.75em;

      h3 > a {
        color: #111;
      }

      .byline {
        margin: 0;
        text-align: right;
        font-style: italic;
      }
    }

    img.thumb {
      margin: 0;
    }
  }
}


h3 > a, h3 > a:link, h3 > a:visited {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}
