/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bourbon';
@import 'neat';
@import 'flutie';

@import 'dimensions';
@import 'colors';


h1 > a, h1 > a:link, h1 > a:visited,
h2 > a, h2 > a:link, h2 > a:visited,
h3 > a, h3 > a:link, h3 > a:visited {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}


a.action {
  @include button(simple);
  margin: -1em 0 0 1em;
  vertical-align: middle;
  padding: 0.5em 1em;
}


h1, h2 {
  @include inline-block;
}


h1.name {
  font-style: italic;
}

fieldset {
  max-width: 2 * $grid-width / 3;

  input[type=text], textarea {
    width: 100%;
  }

  &.actions {
    text-align: center;
  }
}

textarea {
  height: 10em;
}

input[type=submit] {
  @include button();
  font-size: 1.1em;
}

.exhibit-tally {
  text-align: right;
  font-style: italic;
  color: $light-text-color;

  .count {
    font-weight: bold;
    color: $text-color;
  }
}