/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bourbon';
@import 'neat';
@import 'flutie';


$footer-height: 3em;
$thumb-width: 300px;
$thumb-min-height: 120px;
$shadow-color: #bbb;


body {
  background: #f8f8f8;
  position: relative;
}


header {
  @include clearfix;
  background: url(header_background.png);
  @include box-shadow(0 0 14px $shadow-color);
  padding: 0.25em;

  ul.navigation {
    float: left;
    margin: 0;

    li {
      @include inline-block;
      border-left: 1px solid $shadow-color;
      padding: 0 1em;

      vertical-align: middle;
      img { margin: 0; }

      h3 > a {
        color: #666;
        &:hover { color: #333; }
      }
    }

    li:first-child {
      border: 0;
    }

  }

  .auth {
    float: right;
    margin: 0.5em 1em 0 0;
  }
}


.content {
  padding: 2em 5% (2em + $footer-height) 5%;
}


body > footer {
  background: #eee;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  padding: 1em 1.5em 0 1.5em;
}


h2 > a, h2 > a:link, h2 > a:visited,
h3 > a, h3 > a:link, h3 > a:visited {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}


a.action {
  @include button(simple);
  margin: -1em 0 0 1em;
  vertical-align: middle;
  padding: 0.5em 1em;
}


h1, h2 {
  @include inline-block;
}


h1.name, .byline, .posted {
  font-style: italic;
}


.byline, .posted {
  color: #666;
}


.pagination {
  @include inline-block;
  margin: -1em 0 0 1em;
  vertical-align: middle;

  a {
    @include button(simple, #fff);
    padding: 0.5em 1em;
  }

  .current {
    @include button(simple, #666);
    padding: 0.5em 1em;
    cursor: default !important;
    pointer-events: none;
  }
}


ul.thumbs {
  list-style-type: none;
  margin: 0 auto;

  li {
    width: $thumb-width;
    margin-bottom: $gutter;
    background: white;
    @include box-shadow(0px 2px 6px $shadow-color);

    .caption {
      padding: 0.75em;

      h3 > a {
        color: #111;
      }

      .byline {
        margin: 0;
        text-align: right;
      }
    }
  }
}


.image-container {
  width: 100%;
  background: #333;
  text-align: center;
  min-height: $thumb-min-height;
  line-height: $thumb-min-height; // used with &nbsp; to vertically center image
  font-size: 0; // prevents extra space when using line-height + &nbsp;

  img {
    max-width: 100%;
    vertical-align: middle;
    margin: 0;
  }
}