@import 'bourbon';
@import 'colors';

.artworks-show {
  .byline {
    line-height: 1.5em;
    color: $light-text-color;

    .timestamp {
      float: right;
      font-style: italic;
    }
  }

  form.comment {
    margin: 1.5em 0;
    text-align: center;

    ol, li {
      margin: 0;
    }
  }

  ul.comments {
    list-style: none;

    li {
      padding: 0.5em 0;

      border-top: 1px solid $light-grey;
      &:first-child {
        border-top: 0;
      }
    }
  }
}
