@import 'bourbon';
@import 'neat';
@import 'dimensions';
@import 'colors';


$logo-height: 40px;
$navigation-font-size: 16px;


body {
  background: $body-color;
  color: $text-color;
  h1, h2, h3, h4, h5, h6, p {
    color: $text-color;
  }
}


.header-outer, .content-outer, .footer-outer {
  width: $grid-width + 2*$gutter-width;
  margin: 0 auto;
}

.header-outer, .footer-outer {
  padding: $gutter-width/2 0;
}

.header-outer, .content-outer {
  background: $background-color;
  box-shadow: 0px 1px 1em $body-shadow-color;
}

$outer-radius: 0.5em;

.header-outer {
  border-radius: 0 0 $outer-radius $outer-radius;
}

.content-outer {
  margin-top: $gutter-width;
  padding: $gutter-width 0;
  border-radius: $outer-radius;
}


header, .content, footer {
  @include outer-container; // grid
}


header {
  nav.account, nav.content {
    @include inline-block;
    font-size: $navigation-font-size;
    height: $logo-height;

    & > a {
      @include inline-block;
      vertical-align: top;
      padding-bottom: 0.25em;
      border-bottom: 1px solid $light-grey;
      text-decoration: none;
      margin-top: 0.75em;
      margin-left: 1em;
      color: $light-text-color;

      &:hover {
        border-bottom: 1px solid $action-color;
      }

      &.call-to-action {
        font-weight: bold;
      }
    }
  }

  nav.content {
    float: right;
  }

  .logo {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    img {
      margin: 0 !important;
      padding: 0 !important;
      border: 0 !important;
      height: $logo-height;
      vertical-align: middle;
    }
  }
}

