@import 'bourbon';
@import 'colors';


.pagination {
  text-align: right;

  a {
    @include button(simple, $white);
    padding: 0.5em 1em;
  }

  .current {
    @include button(simple, $dark-grey);
    padding: 0.5em 1em;
    cursor: default !important;
    pointer-events: none;
  }
}
