@import 'bourbon';
@import 'colors';
@import 'dimensions';


ul.thumbs {
  list-style-type: none;
  margin: 0 auto;

  & > li {
    width: $image-thumbnail-width;
    margin-bottom: $gutter-width;
    background: $white;
    @include box-shadow(0px 2px 6px $shadow-color);

    .caption {
      padding: 0.5em 0;
      text-align: center;
      text-shadow: 1px 1px 1px $light-grey;
      a {
        text-decoration: none;
      }
    }

    ul.comments {
      list-style-type: none;
      margin: 0;
      background: $lightest-grey;
      font-size: 0.8em;

      li {
        border-top: 1px solid $light-grey;
        padding: 0.5em 0.75em;

        a.commenter {
          padding-right: 0.5em;
        }
      }
    }
  }
}


.image-container {
  width: 100%;
  background: $darkest-grey;
  text-align: center;
  min-height: $image-thumbnail-min-height;
  line-height: $image-thumbnail-min-height; // used with &nbsp; to vertically center image
  font-size: 0; // prevents extra space when using line-height + &nbsp;

  img {
    max-width: 100%;
    vertical-align: middle;
    margin: 0;
  }
}
